body {color: rgb(228, 215, 250);
    background-color: rgb(19, 19, 24);
font-family: Arial, Helvetica, sans-serif;}

    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
        padding: 40px;
    }

   
    a {color: white;
    text-decoration: none;}
    
     img {width: 150px;
    height: 150px;
border-radius: 50%;
border: 5px solid rgb(18, 231, 221);}

.center {text-align: center;}
h1 {color: rgb(18, 231, 221);}




.container { padding: 0px 50px;}
.container.principal { list-style-type: square;
    padding: 10px 70px;}

nav a:hover {color: purple;}

h1 {padding: 1px 40px; text-decoration: underline;}
h2 {padding: 1px 40px; text-decoration: square;}
h3 {padding: 1px 40px; text-decoration: square;}
h4 {padding: 1px 40px; text-decoration: square;}


main h1 {padding: 1px 40px; text-decoration: underline; color: rgb(18, 231, 221);}

.retorne {color: rgb(18, 231, 221);
    list-style-type: square;
    text-decoration: underline rgb(18, 231, 221);
color: rgb(18, 231, 221); text-decoration: rgb(18, 231, 221);}

section {padding: 1px 30px}
section h4 {padding: 1px 30px; color: rgb(18, 231, 221) ; text-decoration: solid ; }
section p
 {padding: 0px 30px;}

 footer img {width: 50px;
    height: 50px;
border-radius: 80%;
border: 3px solid rgb(18, 231, 221);}

footer {display: flex;
justify-content: center;}

footer a {margin: 20px;
text-align: center;}


 @media screen and (max-width:490px) {
    .main.section.h4{margin-left: 10px;}

    .div class.container
{max-resolution: 100%;}    

div class.container.principal {margin-left: 50%;}
}